.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-button-container {
  width: 150px;
  height: 150px;
  border: 2px solid rgba(240, 225, 222, 0.2);
  border-style: dashed;
  border-radius: 8px;
  cursor: pointer;
}

.App-button {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  font-size: 14px;
  cursor: pointer;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-title-modal {
  font-size: 25px;
  line-height: 36px;
  font-weight: bold;
}

.App-title-modal-content {
  display: flex;
}

@media (max-width: 610px) {
  .App-title-modal-content {
    display: none;
  }
}

.App-close {
  margin-left: auto;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.App-close-svg {
  width: 25px;
}

.App-toast {
  z-index: 9999;
}
